div.badge {
    display: flex;
    width: 455px;
    height: 155px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    border: solid transparent 3.5px;
    border-image: linear-gradient(#4f46e5,#6366f1,#8b5cf6,#a855f7,#bf63f1);
    border-image-slice: 1;

    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

div.leftside {
    width: 60%;
}

div.profil {
    display: flex;
    columns : 2;
    column-gap: 4%;
}

div.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background: linear-gradient(#4f46e5,#6366f1,#8b5cf6,#a855f7,#bf63f1);
    padding: 3px; 
}

div.pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


div.username {
    line-height: 0.45;
    font-size: 0.9rem;
}

div.username h2 {
    color: #6366f1;
    font-size: 1.5rem;
    font-weight: 500;
}

div.username li {
    margin-left : 17px;
}

div.username b {
    color: #bf63f1;
    font-size: 1.2rem;
}

div.stack-container {
    margin-top: 9px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

div.stack {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-size: cover;
}

div.stack img {
    width : 50px;
    aspect-ratio: 1;
    border-radius: 10%;
}

div.stack span {
    font-size: 16px;
    color: #4d4fbcc6;
    font-weight: 500;
}

div.easyStats, div.mediumStats, div.hardStats {
    display: flex;
    width: 130px;
    height: 38px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: rgba(74, 74, 74, 0.645);
}

div.stats b {
    color: rgba(0, 0, 0, 0.762);
}

div.progress-container {
    background-color: rgb(236, 236, 236);
    border-radius: 7px;
    width: 130px;
    height: 20px;
    overflow: hidden;
}

div.progress-bar {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

div.easy-bar {
    background-color: hsl(180 74% 42%);
}

div.medium-bar {
    background-color: hsl(43 100% 50%);
}

div.hard-bar {
    background-color: hsl(0 91% 59%);
}

div.easyStats h3 {
    color: hsl(180 74% 42%);
}

div.mediumStats h3 {
    color: hsl(43 100% 50%);
}

div.hardStats h3 {
    color: hsl(0 91% 59%);
}
