div.badge {
    width: 495px;
    height: 195px;
    background-color: rgb(254, 254, 254);
    border: solid black 3px;
    border-radius: 15px;
}

div.stats {
    margin-left: 350px;
    justify-content: center;
}

div.easyStats, div.mediumStats, div.hardStats {
    display: flex;
    width: 130px;
    height: 38px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-evenly;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
}

div.progress-container {
    background-color: rgb(236, 236, 236);
    border-radius: 7px;
    width: 130px;
    height: 20px;
    overflow: hidden;
}

div.progress-bar {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

div.easy-bar {
    background-color: hsl(180 74% 42%);
}

div.medium-bar {
    background-color: hsl(43 100% 50%);
}

div.hard-bar {
    background-color: hsl(0 91% 59%);
}


div.easyStats h3 {
    color: hsl(180 74% 42%);
}

div.mediumStats h3 {
    color: hsl(43 100% 50%);
}

div.hardStats h3 {
    color: hsl(0 91% 59%);
}

span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.732);
}

img {
    width: 70px;
    border-radius: 50%;
}