<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>My Leetcode badge</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if response_status != 200%}
            <h1>Error {{response_status}} : Failed to retrieve data :(</h1>
        {% else %}
        <div class="badge">
          <div class="stats">
            
            <div class="easyStats">
              <h3>Easy</h3>
              <span>{{problem_info["easySolved"]}} / {{problem_info["totalEasy"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar easy-bar" id="easy-bar"></div>
            </div>

            <div class="mediumStats">
              <h3>Medium</h3>
              <span>{{problem_info["mediumSolved"]}} / {{problem_info["totalMedium"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar medium-bar" id="medium-bar"></div>
            </div>
        
            <div class="hardStats">
              <h3>Hard</h3>
              <span>{{problem_info["hardSolved"]}} / {{problem_info["totalHard"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar hard-bar" id="hard-bar"></div>
            </div>
          </div>
        </div>


    <script>
      const easySolved = {{ problem_info["easySolved"] }};
      const totalEasy = {{ problem_info["totalEasy"] }};
      const easyPercentage = (easySolved / totalEasy) * 100;
      document.getElementById('easy-bar').style.width = easyPercentage + '%';

      const mediumSolved = {{ problem_info["mediumSolved"] }};
      const totalMedium = {{ problem_info["totalMedium"] }};
      const mediumPercentage = (mediumSolved / totalMedium) * 100;
      document.getElementById('medium-bar').style.width = mediumPercentage + '%';

      const hardSolved = {{ problem_info["hardSolved"] }};
      const totalHard = {{ problem_info["totalHard"] }};
      const hardPercentage = (hardSolved / totalHard) * 100;
      document.getElementById('hard-bar').style.width = hardPercentage + '%';
    </script>
    {% endif %}
</body>
</html>