<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>My Leetcode badge</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if response_status != 200 %}
            <h1>Error {{response_status}} : Failed to retrieve data :(</h1>
        {% else %}
        <div class="badge">
          <div class="leftside">
            <div class="profil">
              <div class="pfp">
                <img src="{{ profil_info['pfp']}}">
              </div>
              <div class="username">
                 <h2>{{ profil_info['username'] }}</h2>
                 Rank : {{ profil_info['rank'] }}
              </div>
            </div>
            <span>Problem solved : {{problem_info["totalSolved"]}} / {{problem_info["totalQuestions"]}}</span>
            <div class="stack-container">
              {% for stack in stackInfo.values() %}
              <div class="stack">
                <img src="{{ stack['icon'] }}">
                <span>{{ stack["solved"] }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="stats">
            
            <div class="easyStats">
              <h3>Easy</h3>
              <span>{{problem_info["easySolved"]}} / {{problem_info["totalEasy"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar easy-bar" id="easy-bar"></div>
            </div>

            <div class="mediumStats">
              <h3>Medium</h3>
              <span>{{problem_info["mediumSolved"]}} / {{problem_info["totalMedium"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar medium-bar" id="medium-bar"></div>
            </div>
        
            <div class="hardStats">
              <h3>Hard</h3>
              <span>{{problem_info["hardSolved"]}} / {{problem_info["totalHard"]}}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar hard-bar" id="hard-bar"></div>
            </div>
          </div>
        </div>


    <script>
      const infos = [
      {
      "solved": {{ problem_info["easySolved"] }},
      "total" : {{ problem_info["totalEasy"] }},
      "barId" : "easy-bar"
      },
      {
      "solved": {{ problem_info["mediumSolved"] }},
      "total" : {{ problem_info["totalMedium"] }},
      "barId" : "medium-bar"
      },
      {
      "solved": {{ problem_info["hardSolved"] }},
      "total" : {{ problem_info["totalHard"] }},
      "barId" : "hard-bar"
      }
      ];

      for (const info of infos) {
        // I added a bonus of bonus 3% to give the progress bar a sense if it's too low to be seen
        // I also made sure the % can't be above 100 %
        const percentage = (info["solved"] / info["total"]) * 100 + 3; 
        document.getElementById(info["barId"]).style.width = Math.min(100, percentage) + '%';
      }
    </script>
    {% endif %}
</body>
</html>