<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Leetcode Stats - {{ profil_info['username'] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ profil_info['pfp'] }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {% if response_status != 200 %}
            <h1>Error {{response_status}} : Failed to retrieve data :(</h1>
        {% else %}
        <div class="badge">
          <div class="leftside">
            <div class="profil">
              <div class="pfp">
                <img src="{{ profil_info['pfp']}}">
              </div>
              <div class="username">
                 <h2>{{ profil_info['username'] }}</h2>
                 <li><b>{{profil_info["totalSolved"]}}</b> problems solved</li>
              </div>
            </div>
            <div class="stack-container">
              {% for stack in stack_info.values() %}
              <div class="stack">
                <img src="{{ stack['icon'] }}">
                <span>{{ stack["solved"] }}%</span>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="stats">
            {% for score in problem_info.values() %}
            <div class="{{ score['div'] }}">
              <h3>{{ score['difficulty'] }}</h3>
              <span><b>{{ score['solved'] }}</b> / {{ score['total'] }}</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar {{ score['id'] }}" id="{{ score['id'] }}"></div>
            </div>
            {% endfor %}
          </div>
        </div>


    <script>
      const infos = [
      {
      "solved": {{ problem_info["Easy"]["solved"] }},
      "total" : {{ problem_info["Easy"]["total"] }},
      "barId" : '{{ problem_info["Easy"]["id"] }}'
      },
      {
      "solved": {{ problem_info["Medium"]["solved"] }},
      "total" : {{ problem_info["Medium"]["total"] }},
      "barId" : '{{ problem_info["Medium"]["id"] }}'
      },
      {
      "solved": {{ problem_info["Hard"]["solved"] }},
      "total" : {{ problem_info["Hard"]["total"] }},
      "barId" : '{{ problem_info["Hard"]["id"] }}'
      }
      ];

      for (const info of infos) {
        // I added a bonus of bonus 3% to give the progress bar a sense if it's too low to be seen
        // I also made sure the % can't be above 100 %
        const percentage = (info["solved"] / info["total"]) * 100 + 3; 
        document.getElementById(info["barId"]).style.width = Math.min(100, percentage) + '%';
      }
    </script>
    {% endif %}
</body>
</html>
